<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.nwmissouri.shareride" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shareride_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:logo="@mipmap/shareride_launcher">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".RideActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GooglePlacesActivity"
            android:label="@string/title_activity_google_places"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RideActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:showAsAction="ifRoom">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgotpassActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegistrationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RiderOfferDetailActivity"
                  android:parentActivityName=".RideActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".RiderRequestDetailActivity"
                  android:parentActivityName=".RideActivity"
                  android:screenOrientation="portrait"/>
        <activity
            android:name=".NewRideOfferActivity"
            android:parentActivityName=".RideActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RideOfferEditActivity"
            android:parentActivityName=".RideActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NewRideRequestActivity"
            android:parentActivityName=".RideActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RideRequestEditActivity"
            android:parentActivityName=".RideActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RideSearchResults"
            android:parentActivityName=".RideActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".UpdatingService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".RideAlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Profile_settings"
            android:parentActivityName=".RideActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
